/* myStyle.css */

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 150px;
}

#nav_bar_button {
  background-color: Transparent;
  border: Transparent;
  line-height: 2.8;
  margin:2;
  color: gray;
}
#nav_bar_button:hover {
  border: none;
  color: white;
}

#link_button {
  background:none;
  border:none;
  margin:0.2;
  padding:0;
  line-height: 1.3;
  color: blue;
  font-size: 12px;
}
#link_button:hover {
  border: none;
  background: pink;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}

h6 {
  color: red;
  font-size: 14px;
  line-height: 1;
}

h3 {
  font-size: 14px;
  line-height: 1;
}

figcaption.small {
  font-size: 12px;
  line-height: 1.3;
}

p.warn_txt {
  color: red;
  font-size: 12px;
  line-height: 1.3;
}

p.small {
  font-size: 12px;
  line-height: 1.3;
}

p.white {
  color: white;
  font-size: 10px;
  line-height: 1;
}

div#loading {
  width: 100%;
  height: 100%;
  display: none;
  opacity : 1;
  cursor: wait;
}

div#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    /*background: white url(/static/images/ajax-loader.gif) center center no-repeat;*/
    opacity: 0.5;
}

div#overlay_text {
  position: fixed;
  padding-left: 25%;
  padding-top: 200px;
  width: 50%;
  background: transparent;
  opacity: 1;
}

div#overlay_image {
  position: fixed;
  width: 60%;
  height: 70%;
  background: transparent url(/static/images/creating_graphics.png) center center no-repeat;
  /*background: white url(/static/images/ajax-loader.gif) center center no-repeat;*/
  opacity: 1;
  cursor: wait;
}
